* {margin: 0; padding: 0;}
.menu {
    position: absolute;
    top:0;
    z-index: 50;
    width:100%;
    background:#eee;
}
.menu .active{
    background:yellow;
}
.menu div {
    height:30px;
    line-height: 30px;
    text-align: center;
}

#contenair {
   position: absolute;
   top:30px;
   width: 100%;
   bottom:0;
}
.page{
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
    width:auto;
}
.page p{
    margin: 20px 0;
}
#contenair  .bloc0{
    background:#ccc;
}
#contenair  .bloc1{
    background:#ddd;
}
#contenair  .bloc2{
    background:#ccc;
}
#contenair  .bloc3{
    background:#ddd;
}


.longclick{

    padding: 10px; 
    background: #fff;
    transition:"all 1s ease-out";
    -webkit-transition:"all 1s ease-out";
}
.panelY{
    background: green;
}