.btn {
  border-radius: 50px;
  background: #fff;
  padding: 2px;
  border: solid 2px #000;
  position: fixed;
  top: 20px;
  width: 60px;
  background-size: 65%;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
}

.bear {
  background-image: url(./Assets/bear.png);
  right: 20px;
}

.girl {
  background-image: url(./Assets/girl.png);
  left: 20px;
}
