html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  touch-action: none;
}

p {
  padding: 0;
  margin: 0;
}

.flex2ColReverse {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
}

.flex2ColReverse > div {
  flex: none;
}

.flex2ColReverse div:nth-child(1) {
  padding-bottom: 20px;
}

.flex2ColReverse div:nth-child(2) {
  flex: 1 1;
}

@media (orientation: landscape) {
  .flex2ColReverse {
    flex-direction: row;
  }
  .flex2ColReverse > div {
    flex: 1 1;
    padding: 0;
  }
}

.coverImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#panelDemo {
  width: 100%;
  height: 100%;
  position: absolute;
}

#panelDemo p {
  font-size: 20px;
  max-width: 900px;
  padding: 20px 20px;
}

@media (min-width: 600px) {
  #panelDemo p {
    font-size: 30px;
  }
}

@media (min-width: 900px) {
  #panelDemo p {
    font-size: 40px;
  }
}

#panelDemo .lecture > p {
  margin: 100px 0;
}

#panelDemo .lecture .icon {
  width: 60px;
  margin: 0 20px 0px 0;
}

.bgBear {
  background-image: url(./Assets/bear-600w.jpg);
}

@media (min-width: 600px) {
  .bgBear {
    background-image: url(./Assets/bear.jpg);
  }
}

.bgForest {
  background-image: url(./Assets/forest-600w.png);
}

@media (min-width: 600px) {
  .bgForest {
    background-image: url(./Assets/forest.png);
  }
}

.bgTheEnd {
  background-image: url(./Assets/theend-600w.png);
}

@media (min-width: 600px) {
  .bgTheEnd {
    background-image: url(./Assets/theend.png);
  }
}
