.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.inner img {
  position: relative;
  z-index: -300;
}
